.lf {
  float: left; }

.rt {
  float: right; }

.clear {
  clear: both; }

.title-box {
  margin: 20px 0; }
  .title-box .long-line {
    width: 100%;
    height: 2px;
    background: #ddd;
    margin-bottom: 91px; }
  .title-box .big-title {
    font-size: 32px;
    font-weight: 600; }
  .title-box .small-title {
    font-size: 20px;
    font-weight: 500; }
  .title-box .short-line {
    width: 100px;
    height: 2px;
    background: #d43f3a;
    margin-top: 30px;
    margin-bottom: 60px; }

.member-header {
  position: relative; }
  .member-header .photo {
    margin-top: 90px;
    text-align: center;
    position: relative;
    width: 150px;
    overflow: hidden;
    margin: 0 auto;
    top: 90px;
    border-radius: 50%; }
    .member-header .photo img {
      height: 150px;
      width: 150px;
      border-radius: 50%; }
    .member-header .photo span {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 40px;
      line-height: 40px;
      font-weight: 300;
      width: 150px;
      background: rgba(0, 0, 0, 0.5);
      color: #fff; }
  .member-header .name {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 20px;
    width: 100px;
    top: 268px;
    color: #fff;
    font-size: 18px; }
  .member-header .info {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 20px;
    width: 100%;
    top: 305px;
    color: #fff;
    font-size: 18px; }
    .member-header .info span {
      margin: 10px; }
    .member-header .info .star {
      padding-left: 25px;
      background: url("../images/star.png") no-repeat left center; }
    .member-header .info .good {
      padding-left: 25px;
      background: url("../images/dianzan.png") no-repeat left center; }
    .member-header .info .look {
      padding-left: 25px;
      background: url("../images/yanjing.png") no-repeat left center; }

.comment-container .list-item {
  border-bottom: 1px solid #ddd;
  padding: 20px 0; }
  .comment-container .list-item .list-content {
    display: flex;
    justify-content: start;
    align-items: center; }
    .comment-container .list-item .list-content .person-photo {
      min-width: 60px;
      min-height: 60px; }
    .comment-container .list-item .list-content .content-right {
      padding-left: 15px;
      flex: 1; }
      .comment-container .list-item .list-content .content-right > div {
        padding: 5px 0; }
      .comment-container .list-item .list-content .content-right .name {
        font-weight: 600;
        font-size: 16px;
        color: #333;
        margin-right: 15px; }
      .comment-container .list-item .list-content .content-right .detail {
        color: #333;
        font-weight: 600; }
      .comment-container .list-item .list-content .content-right .date {
        color: #999;
        font-weight: 300; }
      .comment-container .list-item .list-content .content-right .comment {
        color: #aaa;
        margin-right: 20px;
        padding: 10px 0;
        padding-left: 20px;
        background: url("../images/comment.jpg") no-repeat left center; }
      .comment-container .list-item .list-content .content-right .zan {
        font-weight: 300;
        font-size: 12px;
        color: #aaa;
        padding-left: 20px;
        background: url("../images/zanzan.png") no-repeat left center; }
  .comment-container .list-item .comment-detail {
    position: relative;
    background: #f5f5f5;
    margin-left: 100px;
    padding: 30px; }
    .comment-container .list-item .comment-detail .small-triangle {
      display: inline-block;
      width: 0;
      height: 0;
      border: 12px solid transparent;
      border-bottom: 12px solid #f5f5f5;
      position: absolute;
      left: 5%;
      top: -24px; }
    .comment-container .list-item .comment-detail h2 {
      color: #333;
      font-size: 18px;
      margin-bottom: 15px; }
    .comment-container .list-item .comment-detail span {
      color: #333;
      font-weight: 600; }

.member-header {
  *zoom: 1;
  background: url("../images/members/member-theme.jpg");
  width: 100%;
  height: 401px; }
  .member-header:after, .member-header:before {
    display: table;
    line-height: 0;
    content: ""; }
  .member-header:after {
    clear: both; }

.person-nav {
  *zoom: 1;
  padding: 3rem 5rem; }
  .person-nav:after, .person-nav:before {
    display: table;
    line-height: 0;
    content: ""; }
  .person-nav:after {
    clear: both; }
  .person-nav div.row div {
    line-height: 1rem;
    margin: 1rem 0; }
    .person-nav div.row div a {
      display: inline-block;
      text-align: center;
      color: #333;
      font-size: 1rem; }
      .person-nav div.row div a:hover {
        color: #d43f3a; }
    .person-nav div.row div span {
      float: right;
      height: 1rem;
      border: 1px solid #999;
      line-height: 1rem; }

@media (max-width: 768px) {
  .person-nav .split-line {
    display: none; }
  .content-right {
    padding-left: 30px; } }

.nav-split-line {
  width: 100%;
  height: 1px;
  background: #ddd;
  margin-bottom: 20px; }
