.lf {
  float: left; }

.rt {
  float: right; }

.clear {
  clear: both; }

.title-box {
  margin: 20px 0; }
  .title-box .long-line {
    width: 100%;
    height: 2px;
    background: #ddd;
    margin-bottom: 91px; }
  .title-box .big-title {
    font-size: 32px;
    font-weight: 600; }
  .title-box .small-title {
    font-size: 20px;
    font-weight: 500; }
  .title-box .short-line {
    width: 100px;
    height: 2px;
    background: #d43f3a;
    margin-top: 30px;
    margin-bottom: 60px; }

.member-header {
  position: relative; }
  .member-header .photo {
    margin-top: 90px;
    text-align: center;
    position: relative;
    width: 150px;
    overflow: hidden;
    margin: 0 auto;
    top: 90px;
    border-radius: 50%; }
    .member-header .photo img {
      height: 150px;
      width: 150px;
      border-radius: 50%; }
    .member-header .photo span {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 40px;
      line-height: 40px;
      font-weight: 300;
      width: 150px;
      background: rgba(0, 0, 0, 0.5);
      color: #fff; }
  .member-header .name {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 20px;
    width: 100px;
    top: 268px;
    color: #fff;
    font-size: 18px; }
  .member-header .info {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 20px;
    width: 100%;
    top: 305px;
    color: #fff;
    font-size: 18px; }
    .member-header .info span {
      margin: 10px; }
    .member-header .info .star {
      padding-left: 25px;
      background: url("../images/star.png") no-repeat left center; }
    .member-header .info .good {
      padding-left: 25px;
      background: url("../images/dianzan.png") no-repeat left center; }
    .member-header .info .look {
      padding-left: 25px;
      background: url("../images/yanjing.png") no-repeat left center; }

.paike-service {
  background: #fff; }

.service {
  max-width: 1200px;
  margin: 0 auto; }

.production {
  height: 120px;
  line-height: 120px;
  font-size: 18px;
  color: #5A5A5B; }

.production small {
  margin-left: 7px;
  font-size: 12px;
  color: #ccc; }

.production a {
  color: #5A5A5B;
  font-size: 12px; }

.production a:hover {
  color: #f00; }

.container {
  max-width: 1200px; }

.san-nav {
  height: 140px;
  line-height: 140px; }
  .san-nav p.tit {
    font-size: 24px; }
    .san-nav p.tit span {
      font-size: 15px;
      color: #999;
      margin-left: 10px; }
  .san-nav .san-nav-item {
    text-align: right;
    color: rgba(0, 0, 0, 0.2); }
    .san-nav .san-nav-item span {
      margin: 0 20px; }
    .san-nav .san-nav-item span a {
      color: #333; }
    .san-nav .san-nav-item span.on a {
      color: #CA2E3E; }

.menlei-container {
  *zoom: 1; }
  .menlei-container:after, .menlei-container:before {
    display: table;
    line-height: 0;
    content: ""; }
  .menlei-container:after {
    clear: both; }

.menlei-container {
  margin-bottom: 50px; }
  .menlei-container div.row .col-md-3 {
    padding: 10px; }
    .menlei-container div.row .col-md-3 img {
      width: 100%;
      height: 100%; }
    .menlei-container div.row .col-md-3 .english {
      margin-top: 30px;
      color: #d43f3a; }
    .menlei-container div.row .col-md-3 .chinease {
      margin-top: 15px; }

.tizhi-container {
  margin-bottom: 50px; }
  .tizhi-container div.row .english {
    margin-top: 10px; }
  .tizhi-container div.row .chinease {
    margin-top: 30px; }

.tedian-container {
  margin-bottom: 50px; }
  .tedian-container div.row .col-md-3 {
    padding: 10px; }
  .tedian-container div.row .detail {
    margin-top: 15px;
    color: #999;
    font-weight: 300; }
  .tedian-container div.row .title {
    font-size: 20px;
    margin-top: 30px; }

.kecheng-container {
  margin-bottom: 50px;
  *zoom: 1; }
  .kecheng-container:after, .kecheng-container:before {
    display: table;
    line-height: 0;
    content: ""; }
  .kecheng-container:after {
    clear: both; }
  .kecheng-container .kecheng-category {
    display: flex;
    justify-content: center; }
    .kecheng-container .kecheng-category > div {
      border: 2px solid #333;
      width: 197px;
      height: 280px;
      margin: 10px; }
      .kecheng-container .kecheng-category > div h3 {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 20px; }
      .kecheng-container .kecheng-category > div p {
        margin-top: 5px 0; }
    .kecheng-container .kecheng-category > div.middle {
      background: #d43f3a;
      color: #fff;
      border: 0; }
      .kecheng-container .kecheng-category > div.middle .short-line {
        background: #fff; }
    .kecheng-container .kecheng-category .short-line {
      margin-top: 80px;
      margin-bottom: 20px;
      display: inline-block;
      width: 50px;
      height: 2px;
      background: #d43f3a; }
    .kecheng-container .kecheng-category .price {
      font-size: 20px; }

.newliliang-container .row .col-md-3 {
  padding: 10px; }
  .newliliang-container .row .col-md-3 .chinease-name {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600; }
  .newliliang-container .row .col-md-3 .english-name {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600; }
  .newliliang-container .row .col-md-3 .short-line {
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #d43f3a;
    margin: 15px 0; }

.swiper-wrapper {
  *zoom: 1;
  margin-bottom: 50px; }
  .swiper-wrapper:after, .swiper-wrapper:before {
    display: table;
    line-height: 0;
    content: ""; }
  .swiper-wrapper:after {
    clear: both; }

.swiper-slide {
  width: 100%; }

.swiper-pagination-bullet {
  border-radius: inherit;
  width: 40px;
  height: 3px;
  background: #aaa; }

.swiper-pagination-bullet-active {
  background: #CA2E3E; }

@media (max-width: 768px) {
  .kecheng-container {
    margin-bottom: 50px;
    *zoom: 1; }
    .kecheng-container:after, .kecheng-container:before {
      display: table;
      line-height: 0;
      content: ""; }
    .kecheng-container:after {
      clear: both; }
    .kecheng-container .kecheng-category {
      display: block; }
      .kecheng-container .kecheng-category .col-sm-12 {
        margin: 20px auto;
        text-align: center; }
        .kecheng-container .kecheng-category .col-sm-12 > div {
          display: inline-block; } }

@media (max-width: 992px) {
  .tizhi-container .col-xs-6 {
    margin: 20px auto; } }
