.member-header{
  position:relative;
  .photo{
    margin-top:90px;
    text-align:center;
    position:relative;
    width:150px;
    overflow:hidden;
    margin:0 auto;
    top:90px;
    border-radius:50%;
    img{
      height:150px;
      width:150px;
      border-radius:50%;
    }
    span{
      position:absolute;
      bottom:0;
      left:0;
      height:40px;
      line-height:40px;
      font-weight:300;
      width:150px;
      background:rgba(0,0,0,0.5);
      color:#fff;
    }
  }
  .name{
    left:50%;
    transform:translateX(-50%);
    position:absolute;
    height:20px;
    width:100px;
    top:268px;
    color:#fff;
    font-size:18px;
  }
  .info{
    left:50%;
    transform:translateX(-50%);
    position:absolute;
    height:20px;
    width:100%;
    top:305px;
    color:#fff;
    font-size:18px;
    span{
      margin:10px;
    }
    .star{
      padding-left:25px;
      background:url("../images/star1.jpg") no-repeat left center;
    }
    .good{
      padding-left:25px;      background:url("../images/zan.jpg") no-repeat left center;
    }
    .look{
      padding-left:25px;
      background:url("../images/look.png") no-repeat left center ;
    }
  }
}